In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#import requests
#from bs4 import BeautifulSoup

In [3]:
df = pd.read_csv(r'C:\Users\320080011\OneDrive - Philips\Documents\Python NSS\New folder\gen_insurance\the-general-cat-losses-cat_5\data\CAT_Loss_Data.csv')

In [4]:
df.head()

,Policy Number,Claim Number,Garaging City,Garaging Zip,Garaging State,Loss Date,Loss Date Time,FNOL Date,FNOL Time,CAT Name,...,ACV,Coverage,Exp Team,Losses Paid,Est Received Amt,Deductible,Gross Estimate Amt,Payment Ind,Salvage,TL Settlement Amt
0,POL00541330,CLAIM0014123,Apopka,32703,FL,2016-10-07,10:30:00,2016-10-07,12:46:06,Hurrican Matthew,...,11297,COMP,Team Kiggins,7315.75,8979.30,500,9479.30,CWP,0.0,0.0
1,POL00541632,CLAIM0014127,DAYTONA BEACH,32114,FL,2016-10-07,13:00:00,2016-10-07,14:35:55,Hurrican Matthew,...,0,COMP,Team Suiter,0.00,0.00,1000,1000.00,CWOP,0.0,0.0
2,POL00541734,CLAIM0014131,ALTAMONTE SPRINGS,32714,FL,2016-10-07,00:01:00,2016-10-07,16:17:08,Hurrican Matthew,...,0,COMP,Team Bowden TAG,288.57,0.00,1000,0.00,CWP,0.0,0.0
3,POL00543202,CLAIM0014132,PORT SAINT LUCIE,34952,FL,2016-10-07,00:00:00,2016-10-07,16:33:08,Hurrican Matthew,...,0,COMP,Team Bowden TAG,0.00,0.00,500,0.00,CWOP,0.0,0.0
4,POL00545825,CLAIM0014135,DEBARY,32713,FL,2016-10-07,00:01:00,2016-10-07,17:34:20,Hurrican Matthew,...,0,COMP,Team Suiter,576.58,576.58,500,1076.58,CWP,0.0,0.0

In [5]:
df = df.replace('Hurrican Matthew','Hurricane Matthew')

In [6]:
df.head()

,Policy Number,Claim Number,Garaging City,Garaging Zip,Garaging State,Loss Date,Loss Date Time,FNOL Date,FNOL Time,CAT Name,...,ACV,Coverage,Exp Team,Losses Paid,Est Received Amt,Deductible,Gross Estimate Amt,Payment Ind,Salvage,TL Settlement Amt
0,POL00541330,CLAIM0014123,Apopka,32703,FL,2016-10-07,10:30:00,2016-10-07,12:46:06,Hurricane Matthew,...,11297,COMP,Team Kiggins,7315.75,8979.30,500,9479.30,CWP,0.0,0.0
1,POL00541632,CLAIM0014127,DAYTONA BEACH,32114,FL,2016-10-07,13:00:00,2016-10-07,14:35:55,Hurricane Matthew,...,0,COMP,Team Suiter,0.00,0.00,1000,1000.00,CWOP,0.0,0.0
2,POL00541734,CLAIM0014131,ALTAMONTE SPRINGS,32714,FL,2016-10-07,00:01:00,2016-10-07,16:17:08,Hurricane Matthew,...,0,COMP,Team Bowden TAG,288.57,0.00,1000,0.00,CWP,0.0,0.0
3,POL00543202,CLAIM0014132,PORT SAINT LUCIE,34952,FL,2016-10-07,00:00:00,2016-10-07,16:33:08,Hurricane Matthew,...,0,COMP,Team Bowden TAG,0.00,0.00,500,0.00,CWOP,0.0,0.0
4,POL00545825,CLAIM0014135,DEBARY,32713,FL,2016-10-07,00:01:00,2016-10-07,17:34:20,Hurricane Matthew,...,0,COMP,Team Suiter,576.58,576.58,500,1076.58,CWP,0.0,0.0

In [23]:
hurr_data = pd.read_csv(
    r'C:\Users\320080011\OneDrive - Philips\Documents\Python NSS\New folder\gen_insurance\the-general-cat-losses-cat_5\data\hurdat2-1851-2019-042820.csv'
    , sep = ',', 
    names = range(21))
hurr_data.head()

C:\Users\320080011\Anaconda3\envs\geospatial\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,AL011851,UNNAMED,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18510625,0000,,HU,28.0N,94.8W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN
2,18510625,0600,,HU,28.0N,95.4W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN
3,18510625,1200,,HU,28.0N,96.0W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN
4,18510625,1800,,HU,28.1N,96.5W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN

In [28]:
hurr_data.iloc[0].tolist()

['AL011851',
 '            UNNAMED',
 '     14',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [31]:
storm = []
storm_ind = None
storm_name = None

for index, row in hurr_data.iterrows():
    if row[0].strip().startswith('AL'):
        storm_ind = row[0]
        storm_name = row[1]
    else:
        storm_data = row.tolist()
        storm_data.append(storm_ind)
        storm_data.append(storm_name)
        storm.append(storm_data)
## storm.append.row[0,1]

In [37]:
pd.DataFrame(storm)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,18510625,0000,,HU,28.0N,94.8W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN,AL011851,UNNAMED
1,18510625,0600,,HU,28.0N,95.4W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN,AL011851,UNNAMED
2,18510625,1200,,HU,28.0N,96.0W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN,AL011851,UNNAMED
3,18510625,1800,,HU,28.1N,96.5W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN,AL011851,UNNAMED
4,18510625,2100,L,HU,28.2N,96.8W,80.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,NaN,AL011851,UNNAMED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51848,20191126,1200,,EX,52.2N,9.3W,45.0,970.0,90.0,240.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,AL202019,SEBASTIEN
51849,20191126,1800,,EX,52.2N,8.9W,40.0,972.0,90.0,240.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,AL202019,SEBASTIEN
51850,20191127,0000,,EX,51.8N,8.2W,40.0,974.0,0.0,210.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,AL202019,SEBASTIEN
51851,20191127,0600,,EX,51.4N,6.0W,40.0,976.0,0.0,180.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,AL202019,SEBASTIEN
51852,20191127,1200,,EX,51.3N,2.1W,40.0,980.0,0.0,120.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,AL202019,SEBASTIEN

In [12]:
hurr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53745 entries, 0 to 53744
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   18510625     53745 non-null  object
 1    0000        53745 non-null  object
 2                53745 non-null  object
 3    HU          51852 non-null  object
 4    28.0N       51852 non-null  object
 5     94.8W      51852 non-null  object
 6     80         51852 non-null  float64
 7    -999        51852 non-null  float64
 8    -999.1      51852 non-null  float64
 9    -999.2      51852 non-null  float64
 10   -999.3      51852 non-null  float64
 11   -999.4      51852 non-null  float64
 12   -999.5      51852 non-null  float64
 13   -999.6      51852 non-null  float64
 14   -999.7      51852 non-null  float64
 15   -999.8      51852 non-null  float64
 16   -999.9      51852 non-null  float64
 17   -999.10     51852 non-null  float64
 18   -999.11     51852 non-null  float64
 19   -999.12     51852 non-null  float64
 20  Unnamed: 20  3 non-null      object
dtypes: float64(14), object(7)
memory usage: 8.6+ MB

In [26]:
Field9 = df['Loss Location Zip']

for i in Field9:
    if len(i)>5:
        i = i[0:4]

TypeError: object of type 'float' has no len()

In [42]:
dfzip = df.rename(columns={'Loss Location Zip':'Loss_Location_Zip'})
dfzip = df['Loss_Location_Zip'].index[:4]
dfzip.head()

KeyError: 'Loss_Location_Zip'

In [29]:
df['Loss Location Zip'].head()

0    32703
1    32118
2    32714
3    34952
4      NaN
Name: Loss Location Zip, dtype: object

In [17]:

df['Loss Location Zip'].unique()

array(['32703', '32118', '32714', '34952', nan], dtype=object)

In [ ]:
##gdp.sjoin(gdfA,gdfB,op='within')
    ##op(operation)
    ##within
    ##intersects
    ##contains
    ##by( which type of join)
    #inner(default)\
    ##left
    ##right